:root {
    font-size: 16px;
}

body {
    background: #0d1b2a;

}

h1 {
    color: white;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 20px 0;
}

.buttons button {
    font-size: 1em;
    background: rgba(0, 32, 67, 0.333);
    color: white;
    border: none;
}

#display {
    height: 8vh;
    margin-bottom: 10px;
    background: rgba(0, 32, 67, 0.333);
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

#ac {
    color: #bf4d5d;
}

#de {
    color: rgb(87, 206, 227);
}